.app-container{
    background-color: aliceblue;
    max-width: 100rem;
    margin: auto;
    border-radius: .8rem;
    overflow: hidden;
    height: 75vh;
}

body{
    background-color: #eaeaea;
}


/* $$$$$$$$$$$$$$$$$$$$$$$  time profile header */
.time-profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
}

.labeltime{
    font-size: 1.2rem;
    letter-spacing: .145rem;
    font-weight: 500;
}

/* $$$$$$$$$$$$$$$$$$$$$$$ movement row container */
.movement-container{
   background-color: #1b1c1e;
   max-width: 50rem;
   display: flex;
   flex-direction: column;
   gap: .05rem;
}

.movement-row{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.4rem;
}

.movement-withdraw,
.movement-deposit{
    padding: .4rem .8rem;
    border-radius: 50px;
    color: #1b1c1e;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: .12rem;
}
.movement-withdraw{
    background-color: greenyellow;
}

.movement-deposit{
    background-color: red;
}

.movement-time{
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 500;
    color: #1b1c1e;
    letter-spacing: .12rem;
    margin: 0 2.4rem;
}

.movement-amount{
    font-size: 1.8rem;
    color: #1b1c1e;
    font-weight: 500;
}