body{
    background-color: #eaeaea;
    /* overflow: hidden; */

}

/* $$$$$$$$$$$$$$$$$$$$$$ App container  */
.app-container{
    background-color: aliceblue;
    max-width: 100rem;
    margin: 3.6rem auto;
    border-radius: 1rem;
    overflow-x: hidden;
    height: 75vh;
}

#greet--heading{
    font-size: 3.6rem;
    font-weight: 600;
    letter-spacing: 0.12rem;
    text-transform: uppercase;
    margin: 4.8rem 0 3.6rem;
    color: #1b1c1e;
}


/* $$$$$$$$$$$$$$$$$$$$$$$  time profile header */
.time-profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
}

.labeltime{
    font-size: 1.2rem;
    letter-spacing: .145rem;
    font-weight: 500;
}

/* $$$$$$$$$$$$$$$$$$$$$$$ movement row container */
.movement-container{
   /* background-color: #eaeaea; */
   max-width: 50rem;
   display: flex;
   height: 100%;
   flex-direction: column;
   gap: .2rem;
   overflow-y: scroll;
}

/* hiding scrollbar but being able to scroll (internet explorer and firefox) */
.movement-container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
/* hiding scrollbar but being able to scroll (safari and chrome) */
.movement-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.movement-row{
    background-color: #fff;
    display: flex;
    align-items: center;
    border: none ;
    margin: 0  ;
    height: 7rem ;
    width: 100%;
    justify-content: space-between;
    padding: 2.4rem;
}

.movement-withdraw,
.movement-deposit{
    padding: .4rem .8rem;
    border-radius: 50px;
    color: #1b1c1e;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: .12rem;
}
.movement-withdraw{
    background-color: greenyellow;
}

.movement-deposit{
    background-color: red;
}

.movement-time{
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 500;
    color: #1b1c1e;
    letter-spacing: .12rem;
    margin: 0 2.4rem;
}

.movement-amount{
    font-size: 1.8rem;
    color: #1b1c1e;
    font-weight: 500;
}

/* $$$$$$$$$$$$$$$$$$ loan, transfer button container */

.container-sidebtns{
    height: 12rem;
    justify-items: center;
    margin-top: 4rem;
    /* background-color: #1b1c1e; */
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffcf68;
    position: relative; 
    border-radius: 1rem;
    height: 12rem;
    flex-direction: column;
    aspect-ratio: 1/1;
}

.relocate-btn{
    font-size: 3.6rem;
    padding: .5rem;
    display: flex;
    border: 2px solid #fff;
    text-shadow: -3px -3px 5px #ffffff75;
    align-items: center;
    justify-content: center;
    border-radius: 50%;   
}

.logo-container:hover::after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    cursor: pointer;
    border-radius: 1rem;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.15));
    z-index: 2;
}

.remove-logo{
    font-size: 2.8rem;
    padding: 1.3rem;
}

.remove-btn{
    background-color: #ff7a8a;
}

.transfer-btn{
    background-color: #5caeff;
}

.logo-label{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    z-index: 3;
    color: #fff;
}

/* $$$$$$$$$$$$$$$$$$$$$ styling total balance and summaries */

.container-balance{
    /* background-color: #5caeff; */
    margin: 3.6rem auto;
    padding: .8rem 2.8rem;
    font-size: 3.2rem;
    text-transform: capitalize;
    font-weight: 600;
    color: #1b1c1e;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-sumin,
.container-sumout{
    margin: .4rem auto;
    padding: .8rem 2.8rem;
    text-transform: capitalize;
    color: #1b1c1e;
    display: flex;
    align-items: center;
    gap: 4rem;
}