@media screen and (max-width:720px) {
    html{
        font-size: 8px;
    }
}

@media screen and (max-width:390px) {
    html{
        font-size: 7px;
    }

    button{
        height: 6rem;
        width: 18rem;
    }
}

